* {
  background: #131415;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contenedorheader {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  padding-right: 30px;
}

.logo {
  padding: 20px;
  height: 100%;
}

.categorias {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
}
.contenedorCategoria {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.nomCat {
  display: flex;
  margin: 20px 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 131.02%;
  color: #ffffff;
}

.cuadrado {
  width: 147px;
  height: 171px;
  border-radius: 15px;
  background-color: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pizzeria {
  width: 71px;
  height: 71px;
  border-radius: 15px;
  background: url(/jennifer_imagenes/porcion_pizza_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.nombreDeCategorias {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #252525;
}

.lineaNaranja {
  width: 30px;
  height: 4px;
  margin-top: 10px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.hamburguesas {
  width: 86px;
  height: 86px;
  background: transparent;
  background: url(/jennifer_imagenes/burger_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.napapuki {
  width: 71px;
  height: 71px;
  left: 154px;
  border-radius: 15px;
  background: url(/jennifer_imagenes/fries_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.individuales {
  width: 86px;
  height: 86px;
  background: transparent;
  background: url(/jennifer_imagenes/porcion_pizza_2_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.wraps {
  width: 86px;
  height: 86px;
  background: transparent;
  background: url(/jennifer_imagenes/burrito_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.mexicanfood {
  width: 86px;
  height: 86px;
  background: url(/jennifer_imagenes/taco_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.batidukys {
  width: 86px;
  height: 86px;
  border-radius: 15px;
  background: url(/jennifer_imagenes/batido_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.lo_mas_popular {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: auto;
}

.titulo_cards {
  color: white;
  font-family: "Montserrat";
  margin: 20px 30px;
}

.contenedor_cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.card_comida {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 213px;
  background-color: #252525;
  border-radius: 15px;
  justify-content: space-between;
  padding: 16px;
}

.imagen_comida {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/Photo\ Menu.png);
  margin: 2px auto;
}

.imagen_comida1 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/qjamone.png);
  margin: 2px auto;
}

.imagen_comida2 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/lacharlygarcia.png);
  margin: 2px auto;
}

.imagen_comida3 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/lamaradona.png);
  margin: 2px auto;
}

.imagen_comida4 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/picantovich.png);
  margin: 2px auto;
}

.imagen_comida5 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/lahasbulla.png);
  margin: 2px auto;
}

.imagen_comida6 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/leomessi.png);
  margin: 2px auto;
}

.imagen_comida7 {
  width: 237px;
  height: 97px;
  border-radius: 15px;
  background-image: url(/imagens_cards_gus/nickgi.png);
  margin: 2px auto;
}

.nombre_producto h4 {
  font-family: "Montserrat";
  color: white;
  background-color: #252525;
  font-size: 14px;
  text-align: left;
}

.desc h4 {
  font-family: "Montserrat";
  color: rgb(125, 148, 148);
  background-color: #252525;
  font-size: 14px;
}

.precio_boton {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
}
.precio_boton h2 {
  font-family: "Montserrat";

  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  width: 100px;
  font-size: 19px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_boton {
  background-color: transparent;
}
.card_boton button {
  font-family: "Montserrat";
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);

  color: #ffffff;
  border: none;
  width: 80px;
  height: 27px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  transition-duration: 0.5s;
}

.card_boton button:hover {
  width: 150px;
}
.contenedorFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #ffffff;
  margin-top: 40px;
}
.elementosFooter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 131.02%;
}
