* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 120vh;
  background: #131415;
}
.contenedorheader {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  padding-right: 30px;
}

.logo {
  padding: 20px;
  height: 100%;
}

/* COMIENZO DE SECCION CATEGORIAS ▼ ▼*/
.categorias {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
}
.contenedorCategoria {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}

.nomCat {
  display: flex;
  margin: 20px 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  color: #ffffff;
}

.cuadrado {
  width: 147px;
  height: 171px;
  border-radius: 15px;
  background-color: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pizzeria {
  width: 71px;
  height: 71px;
  border-radius: 15px;
  background: url(/jennifer_imagenes/porcion_pizza_blur.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.nombreDeCategorias {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #252525;
}

.lineaNaranja {
  width: 30px;
  height: 4px;
  margin-top: 10px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.size_img_cat {
  width: 86px;
  height: 86px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
.hamburguesas {
  background: url(/jennifer_imagenes/burger_blur.png);
}

.napapuki {
  background: url(/jennifer_imagenes/fries_blur.png);
}
.individuales {
  background: url(/jennifer_imagenes/porcion_pizza_2_blur.png);
}

.wraps {
  background: url(/jennifer_imagenes/burrito_blur.png);
}

.mexicanfood {
  background: url(/jennifer_imagenes/taco_blur.png);
}

.batidukys {
  background: url(/jennifer_imagenes/batido_blur.png);
}

/* FIN DE SECCION CATEGORIAS ▲ ▲*/

/* COMIENZO DE SECCION "LO MAS POPULAR" ▼ ▼*/
.lo_mas_popular {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: auto;
}

.titulo_cards {
  color: white;
  font-family: "Montserrat";
  margin: 20px 30px;
}

.contenedor_cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.card_comida {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 213px;
  background-color: #252525;
  border-radius: 15px;
  justify-content: space-between;
  padding: 16px;
}

.size_img {
  width: 237px;
  height: 97px;
  border-radius: 15px;
}
.imagen_comida {
  background-image: url(/imagens_cards_gus/Photo\ Menu.png);
}

.imagen_comida1 {
  background-image: url(/imagens_cards_gus/qjamone.png);
}

.imagen_comida2 {
  background-image: url(/imagens_cards_gus/lacharlygarcia.png);
}

.imagen_comida3 {
  background-image: url(/imagens_cards_gus/lamaradona.png);
}

.imagen_comida4 {
  background-image: url(/imagens_cards_gus/picantovich.png);
}

.imagen_comida5 {
  background-image: url(/imagens_cards_gus/lahasbulla.png);
}

.imagen_comida6 {
  background-image: url(/imagens_cards_gus/leomessi.png);
}

.imagen_comida7 {
  background-image: url(/imagens_cards_gus/nickgi.png);
}

.nombre_producto h4 {
  font-family: "Montserrat";
  color: white;
  background-color: #252525;
  font-size: 14px;
  text-align: left;
}

.desc h4 {
  font-family: "Montserrat";
  color: rgb(125, 148, 148);
  background-color: #252525;
  font-size: 14px;
}

.precio_boton {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
}
.precio_boton h2 {
  font-family: "Montserrat";

  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  width: 100px;
  font-size: 19px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_boton {
  background-color: transparent;
}
.card_boton button {
  font-family: "Montserrat";
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);

  color: #ffffff;
  border: none;
  width: 80px;
  height: 27px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  transition-duration: 0.5s;
}

.card_boton button:hover {
  width: 150px;
}

/* FIN DE SECCION "LO MAS POPULAR" ▲ ▲*/
/* COMIENZO DE LA SECCION FOOTER  ▼ ▼*/
.contenedorFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #ffffff;
}

footer {
  margin-top: 60px;
}
.elementosFooter {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 50px;
}

.elementosFooter span {
  font-weight: bold;
}

.elementosFooter .cor {
  color: red;
}
/* FIN DE SECCION FOOTER ▲ ▲*/
/* HERO */
:root {
  --tipo-principal: "Montserrat";
}
.hero {
  width: 100vw;
  margin: 80px 0px 0px 0px;
  padding: 0 8%;
}

.hero-one {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.hero-text {
  width: 50%;
  min-width: 550px;
  color: #ffffff;
}

.hero-text h1 {
  font-family: var(--tipo-principal);
  font-size: 66px;
}

.hero-text p span {
  font-family: var(--tipo-principal);
  font-size: 51px;
}

.hero-text p {
  font-family: var(--tipo-principal);
  font-size: 21px;
}

.hero-text button {
  height: 50px;
  width: 166px;
  font-family: var(--tipo-principal);
  font-weight: 600;
  margin-top: 34px;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  background: linear-gradient(90deg, #ffa100, #fb103d);
}

.hero-image {
  height: 274px;
  width: 500px;
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hero-image img:first-child {
  width: 265px;
  height: 265px;
  position: relative;
  left: 15px;
  background-color: transparent;
}

.hero-image img:last-child {
  height: 392px;
  width: 392px;
  position: relative;
  top: -108px;
  left: -120px;
  background-color: transparent;
}

.hero-two {
  color: #ffffff;
  margin-top: 80px;
}

.hero-two h2 {
  font-family: var(--tipo-principal);
  font-size: 22px;
}

.cards-container {
  margin-top: 24px;
  padding: 0 70px;
  display: flex;
  flex-flow: row wrap;
  gap: 36px;
  justify-content: center;
}

.hero-card {
  height: 103px;
  width: 347px;
  min-width: 347px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #252525;
  box-shadow: 0px 0px 50px 0px #01020780;
}

.hero-card img {
  width: 62px;
  height: 62px;
  border-radius: 16px;
}

.hero-card div h3 {
  font-family: var(--tipo-principal);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.hero-card .description {
  margin: 5px 0;
  font-family: var(--tipo-principal);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 30%;
}

.hero-card .price {
  font-family: var(--tipo-principal);
  font-size: 19px;
  font-weight: 700;
  background: linear-gradient(90deg, #ffa100, #fb103d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero-card button {
  height: 29px;
  width: 85px;
  border-radius: 17.5px;
  background: linear-gradient(90deg, #ffa100, #fb103d);
  border: none;
  color: #ffffff;
  font-family: var(--tipo-principal);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
/* FIN HERO */
